https://www.djangoproject.com/download/1.7a2/tarball/ # Django 1.7a2
Pillow==2.3.0
-e git+https://github.com/littleweaver/django-daguerre.git@19355784982c80d026d91aadaf79ee44094e9895#egg=django_daguerre
django-grappelli==2.5.2
six==1.5.2
wsgiref==0.1.2
