https://www.djangoproject.com/download/1.7a2/tarball/ # Django 1.7a2
Pillow==2.3.0
-e git+https://github.com/littleweaver/django-daguerre.git@ab0fc4da1ea2b37a3c128afdebfc30329710a1f0#egg=django_daguerre
-e ..
django-grappelli==2.5.2
six==1.5.2
wsgiref==0.1.2
django-autoslug==1.7.2
