https://www.djangoproject.com/download/1.7a2/tarball/ # Django 1.7a2
Pillow==2.3.0
-e git+https://github.com/littleweaver/django-daguerre.git@master#egg=django-daguerre
wsgiref==0.1.2
-e src/django-clickclick
