{% load comments %}
<form role="form" action="{% comment_form_target %}" method="post" class="margin-trailer">
	{% csrf_token %}
	{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
	{% for field in form %}
		{% if field.is_hidden %}
			{{ field }}
		{% elif field.name == "honeypot" %}
			<div style="display:none;">
				{{ field.label_tag }}
				{{ field }}
			</div>
		{% endif %}
	{% endfor %}
	<div class="row">
		<div class="form-group col-md-6 {% if form.name.errors %}error{% endif %}">
			<label for="{{ form.name.id_for_label }}" class="sr-only">{{ form.name.label }}</label>
			<input class="form-control" type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" placeholder="Name" maxlength=50 required />
		</div>
		<div class="form-group col-md-6 {% if form.email.errors %}error{% endif %}">
			<label for="{{ form.email.id_for_label }}" class="sr-only">{{ form.email.label }}</label>
			<input class="form-control" type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Email" required />
		</div>
	</div>
	<div class="form-group">
		<textarea id="{{ form.comment.id_for_label }}" name="{{ form.comment.name }}" class="form-control" placeholder="Your comment here." required></textarea>
	</div>
	<button class="btn btn-primary btn-block">Add a Comment</button>
</form>