{% load gravatar humanize %}

{% if comment_list|length != 0 %}
	<div class="comment-list white-card">
		{% for comment in comment_list %}
			<div class="media comment white-card-section">
				<span class="pull-left avatar">
					<img src="{% gravatar_url comment.email 80 "identicon" "pg" %}" width="40" height="40" />
				</span>
				<div class="media-body comment-body">
					<div class="media-heading comment-heading">
						<strong>{{ comment.name }}</strong>
						<span class="text-muted">{{ comment.submit_date|naturaltime }}</span>
					</div>
					<div class="comment-text">{{ comment.comment|linebreaks }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}