{% load clickclick_tags %}
{% load static from staticfiles %}

<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}Click Click{% endblock %}</title>
		{% block styles %}
			<link rel="stylesheet" href="{% static "clickclick/lib/bootstrap/css/bootstrap.css" %}" type="text/css" media="screen" charset="utf-8">
			<link rel="stylesheet" href="{% static "clickclick/stylesheets/screen.css" %}" type="text/css" media="screen" charset="utf-8" />
		{% endblock %}
		{% block javascript %}
			<script src="{% static "clickclick/lib/jquery.1.11.0.js" %}" type="text/javascript" charset="utf-8"></script>
			<script src="{% static "clickclick/lib/bootstrap/js/bootstrap.js" %}" type="text/javascript" charset="utf-8"></script>
			<script src="{% static "clickclick/javascripts/base.js" %}" type="text/javascript" charset="utf-8"></script>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-static-top navbar-inverse cc-navbar" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{% url 'clickclick.home' %}" class="navbar-brand">{% clickclick_title %}</a>
				</div>
				<div class="collapse navbar-collapse" id="main-nav">
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<li>
								<a href="{% url 'clickclick.user_photoset_list' user.username %}">
									<i class="glyphicon glyphicon-user"></i>
									{% if user.first_name %}
										{{ user.first_name }} {{ user.last_name }}
									{% else %}
										{{ user.username }}
									{% endif %}
								</a>
							</li>
							<li>
								<a href="{% url 'admin:logout' %}?next=/">
									<i class="glyphicon glyphicon-off"></i> Log Out
								</a>
							</li>
						{% else %}
							<li>
								<a href="{% url 'admin:login' %}?next=/">Sign In</a>
							</li>
						{% endif %}
					</ul>{# /.nav #}
				</div>{# /.navbar-collapse #}
			</div>{# /.container-fluid #}
		</nav>{# /.navbar #}
		<div id="bd" role="main">
			{% if messages %}
				<section id="messages">
					{% for message in messages %}
						<div{% if message.tags %} class='alert{% for tag in message.tags %} alert-{{ tag|lower }}{% endfor %}'{% endif %}>{{ message }}</div>
					{% endfor %}
				</section>
			{% endif %}
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>