{% extends "clickclick/__standard.html" %}
{% load daguerre %}

{% block title %}{{ photoset.title }} | {{ block.super }}{% endblock %}

{% block page-title %}
	{{ photoset.title }}
	<a href="{% url 'clickclick.edit_photoset' photoset.slug %}" class="text-muted">
		{% if photoset.owner == user%}
			{% include "clickclick/_privacy_indicator.html" with photoset=photoset only %}
		{% endif %}
	</a>
{% endblock %}

{% block page-header-actions %}
	{% if photoset.owner == user %}
		<section class="page-header-actions">
			<a class="btn btn-default" href="{% url 'clickclick.edit_photoset' photoset.slug %}"><i class="glyphicon glyphicon-cog"></i> Photoset Settings</a>
			<a class="btn btn-danger" href="{% url 'clickclick.delete_photoset' photoset.slug %}" class="delete"><i class="glyphicon glyphicon-trash"></i> Delete Photoset</a>
		</section>
	{% endif %}
{% endblock %}

{% block main %}
	<section class="photoset-description">
		{% if photoset.description %}
			{{ photoset.description }}
		{% endif %}
	</section>
	<section class="photoset-photos">
		<ul class="media-grid">
			{% for photo in photoset.photos.all %}
				<li>
					<a class="thumbnail" href="{{ photo.get_absolute_url }}"{% if photo.title %} title="{{ photo.title }}"{% endif %}>
						{% adjust photo.image "fit" height=260 as image %}
						<img src="{{ image }}" height="{{ image.height }}" width="{{ image.width }}" alt="{% if photo.title %}{{ photo.title }}{% else %}Untitled Photo{% endif %}"/>
					</a>
				</li>
			{% empty %}
				<li>This photoset is empty.</li>
			{% endfor %}
			{% if photo_form %}
				<li>
					<form action="{% url "clickclick.upload_photos" photoset.slug %}" method="POST" 
enctype="multipart/form-data">
						{% csrf_token %}
						{% for field in photo_form %}
							{{ field }}
						{% endfor %}
						<button class="btn btn-primary">Upload photos</button>
					</form>
				</li>
			{% endif %}
		</ul>
	</section>
{% endblock %}
