{% extends "clickclick/__base.html" %}
{% load daguerre %}

{% block title %}{{ photo.title }} | {{ block.super }}{% endblock %}

{% block content %}
	{% with photo.photoset as photoset %}
		{% adjust photo.image "fit" width=880 height=770 as im %}
		<div class="photo-stage">
			<img src="{{ im }}" />
		</div>{# /.photo-stage#}

		<aside class="photo-meta">
			<header class="page-header">
				<h1 class="page-title">{% if photo.title %}{{ photo.title }}{% else %}&nbsp;{% endif %}</h1>
			</header>
			<div class="container-fluid">
				<div class="photo-from-set text-muted margin-trailer">from <a href="{{ photoset.get_absolute_url }}">{{ photoset.title }}</a></div>

				{% if photo.caption %}
					<div class="photo-caption">
						{{ photo.caption|linebreaks }}
					</div>
				{% endif %}

				{% if photo.owner == user %}
					<section class="page-header-actions">
						<a class="btn btn-xs btn-default" href="{% url 'clickclick.edit_photo' photoset.slug photo.slug %}"><i class="glyphicon glyphicon-pencil"></i> Edit Photo</a>
						<a class="btn btn-xs btn-danger" href="{% url 'clickclick.delete_photo' photoset.slug photo.slug %}"><i class="glyphicon glyphicon-trash"></i> Delete Photo</a>
					</section>
				{% endif %}

				<ul class="pagination">
					{% if previous %}
						<li>
							<a href="{{ previous.get_absolute_url }}" data-keycut="LEFT">&#171;</a>
						</li>
					{% else %}
						<li class="disabled">
							<span>&#171;</span>
						</li>
					{% endif %}
					{% if next %}
						<li>
							<a href="{{ next.get_absolute_url }}" data-keycut="RIGHT">&#187;</a>
						</li>
					{% else %}
						<li class="disabled">
							<span>&#171;</span>
						</li>
					{% endif %}
				</ul>
			</div>
		</aside>{# /.photo-meta #}
	{% endwith %}
{% endblock %}