{% extends "clickclick/__base.html" %}
{% load daguerre %}

{% block title %}{{ photo.title }} | {{ block.super }}{% endblock %}

{% block content %}
	{% with photo.photoset as photoset %}
		<header class="page-header">
			<h1 class="page-title">{% if photo.title %}{{ photo.title }}{% else %}&nbsp;{% endif %}</h1>
			{% if photo.owner == user %}
				<section class="page-header-actions">
					<a class="btn" href="{% url 'clickclick.edit_photo' photoset.slug photo.slug %}"><i class="glyphicon glyphicon-pencil"></i> Edit Photo</a>
					<a class="btn btn-danger" href="{% url 'clickclick.delete_photo' photoset.slug photo.slug %}"><i class="glyphicon glyphicon-trash"></i> Delete Photo</a>
				</section>
			{% endif %}
		</header>
		<div class="row">
			<section class="col-md-8">
				{% adjust photo.image "fit" width=880 height=770 as im %}
				<div class="photo-stage">
					<img src="{{ im }}" />
				</div>
				{% if photo.caption %}
					<div class="photo-caption">
						{{ photo.caption }}
					</div>
				{% endif %}
			</section>{# /.photo-stage.col-md-8 #}
			<aside class="photo-meta col-md-4">
				<p>From the set <span class="photoset-name"><a href="{% url 'clickclick.photoset' photoset.slug %}">{{ photoset.title }}</a></span></p>
			</aside>{# /.photo-meta.col-md-4 #}
		</div>{# /.row #}
	{% endwith %}
{% endblock %}