/* make room for the navbar */

body{
	padding-top:60px;
	padding-bottom:20px;
}
@media (max-width:979px) {
	body{
		padding-top:0;
	}
}

/* put nav links on the right side of the navbar */

.navbar .nav{
	float:right;
}

@media (max-width:979px) {
	.navbar .nav{
		float:none;
		clear:both;
	}
}

/* make nav icons the same color as nav text */

.nav a .icon-white{
	opacity:.6;
}

.nav a:hover .icon-white{
	opacity:1;
}

/* allow actions to go alongside the page header */

.page-header{
	overflow:hidden;
	*zoom:1;
	margin-top:0;
}
.page-title{
	float:left;
}
.page-header-actions{
	float:right;
}

@media (max-width:979px) {
	.page-title, .page-header-actions{
		float:none;
	}
	.page-header-actions{
		margin-top:18px;
	}
}

/* photoset navigation */

.photoset-navigation-placeholder span{
	background:#EEE;
	color:#999;
	text-align:center;
	height:76px;
	line-height:76px;
}

.direction-right, .direction-left{
	position:relative;
}

.direction-right > a:hover::after{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-20px;
	margin-left:-15px;
	border-left:30px solid #FFF;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
	content:" ";
	width:0;
	height:0;
}

.direction-left > a:hover::after{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-20px;
	margin-left:-15px;
	border-right:30px solid #FFF;
	border-top:20px solid transparent;
	border-bottom:20px solid transparent;
	content:" ";
	width:0;
	height:0;
}

@media (min-width:1200px) {
	.photoset-navigation-placeholder span{
		height:94px;
		line-height:94px;
	}
}
@media (max-width:979px) and (min-width:768px) {
	.photoset-navigation-placeholder span{
		height:55px;
		line-height:55px;
	}
}

@media (max-width:767px) {
	.photoset-navigation-placeholder span{
		height:94px;
		line-height:94px;
		width:170px;
	}
}

/* photo detail view */

.photo-stage{
	margin-bottom:18px;
}

/* thumbnails */
a.thumbnail{
	color:inherit;
}
a.thumbnail:hover{
	text-decoration:none;
}