/* make room for the navbar */

body{
	padding-top:60px;
	padding-bottom:20px;
}

.media-grid {
	margin: 0;
	padding: 0;
	white-space: collapse;
}
.media-grid > li {
	list-style-type: none;
	float: left;
	margin-right: 10px;
}

.page-header {
	position: relative;
	margin: 10px 0;
}
.page-header > .page-title {
	margin: 0;
}
.page-header > .page-header-actions {
	position: absolute;
	top: 0;
	right: 0;
}