{% extends "clickclick/__base.html" %}
{% load daguerre %}

{% block title %}{{ photoset.title }} | {{ block.super }}{% endblock %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">{{ photoset.title }}</h1>
		{% if photoset.owner == user %}
			<section class="page-header-actions">
				<a class="btn btn-primary" href="{% url 'clickclick.add_photo' photoset.slug %}"><i class="glyphicon glyphicon-plus"></i> Add Photo</a>
				<a class="btn btn-default" href="{% url 'clickclick.edit_photoset' photoset.slug %}"><i class="glyphicon glyphicon-pencil"></i> Edit Photoset</a>
				<a class="btn btn-danger" href="{% url 'clickclick.delete_photoset' photoset.slug %}" class="delete"><i class="glyphicon glyphicon-trash"></i> Delete Photoset</a>
			</section>
		{% endif %}
	</header>
	<section class="photoset-description">
		{% if photoset.description %}
			{{ photoset.description }}
		{% endif %}
	</section>
	<section class="photoset-photos">
		<ul class="media-grid">
			{% for photo in photoset.photos.all %}
				<li>
					<a class="thumbnail" href="{% url 'clickclick.photo' photoset.slug photo.slug %}"{% if photo.title %} title="{{ photo.title }}"{% endif %}>
						<img src="{% adjust photo.image "fit" height=260 %}" alt="{% if photo.title %}{{ photo.title }}{% else %}Untitled Photo{% endif %}"/>
					</a>
				</li>
			{% empty %}
				<li>This photoset is empty.</li>
			{% endfor %}
			{% if photo_form %}
				<li>{{ photo_form.as_p }}</li>
			{% endif %}
		</ul>
	</section>
{% endblock %}