{% extends "clickclick/__base.html" %}
{% load daguerre humanize %}

{% block title %}Your Photosets | {{ block.super }}{% endblock %}

{% block content %}
	<header class="page-header">
		<h1 class="page-title">Your Photosets</h1>
		<section class="page-header-actions">
			<a href="{% url 'clickclick.create_photoset' %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New Photoset</a>
		</section>
	</header>
	<section class="photoset-list">
		<ul class="media-grid">
		{% for photoset in photosets %}
			{% adjust photoset.photos.all.0.image "fit" height=260 as im %}
			<li style="width: {{ im.width }}px;">
				<a href="{{ photoset.get_absolute_url }}" class="thumbnail">
					<img src="{{ im.url }}" />
					<div class="caption">
						<h5>
							{{ photoset.title }}
							<small>{{ photoset.last_updated_time|naturaltime }}</small>
						</h5>
					</div>
				</a>
			</li>
		{% empty %}
			<li>
				You don&#8217;t have any photo sets yet!
			</li>
		{% endfor %}
		</ul>
	</section>
{% endblock %}